/* color */
$blackPearl: #152028;
$lightBlack:  #101520;
$mainBlueDark: #192734;
$mainBlack: #000;
$mainWhite: #f3f3f3;

$darkGrey: #495057;
$lightGrey: #ddd;
$darkGreen:#219693;

/* animation*/
$transition: all .5s ease-in-out;
