@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }


body{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  line-height: 1.4;
  background: #192734;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}
 

li{
 list-style:none;
}
 
 